<img id="bannerImg" src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=850&q=80" alt="" > 
<div id="mission">
    <h3>Our Mission</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque dolore, quas excepturi culpa magni rerum id corporis praesentium, facilis pariatur esse mollitia repellat, tenetur nihil nobis similique? Quo, non fugiat.</p>
</div>
<img id="image2" src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
<div id="mission">
  <h3>Success Stories</h3>
  <div id="row">
    <div id="column">
        <div id="container" *ngFor="let pet of pets">
            <img src={{pet.image}}>
            <div id="image-inner">
                <h4>{{pet.name}}</h4>
            </div>
        </div>   
    </div>
  </div> 
</div>
<div id="about-us">
    <h3>About Us</h3>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="https://media-exp3.licdn.com/dms/image/C4E03AQHq5XM9cRf7Ag/profile-displayphoto-shrink_800_800/0/1519970394331?e=1632355200&v=beta&t=G3cReZ6CoFAbacrn4vEnBODjIry1HrRZ3eZdV1tM9cw" alt="Emmett" style="width:50%">
            <div class="container">
              <h2>Emmett Riddle</h2>
              <p class="title">Lead Software Engineer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="https://i.imgflip.com/4/g7u55.jpg" alt="Sydney" style="width:50%">
            <div class="container">
              <h2>Sydney Porter</h2>
              <p class="title">Software Director</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row"> 
        <div class="column">
          <div class="card">
            <img  src="https://avatars.githubusercontent.com/u/58910721?v=4" alt="Gregory" style="width:50%">
            <div class="container">
              <h2>Gregory Diaz</h2>
              <p class="title">Software Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>example@example.com</p>
            </div>
          </div>
        </div>
        <div class="column">
            <div class="card">
              <img src="https://avatars.githubusercontent.com/u/71194140?v=4" alt="Mark" style="width:50%">
              <div class="container">
                <h2>Mark Mersman</h2>
                <p class="title">Software Engineer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
              </div>
            </div>
          </div>
    </div>
</div>
     


  