<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Pet Adoption Agency</a>
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/applications/employee']" routerLinkActive="active" >Applications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   [routerLink]="['/addPet']" routerLinkActive="active">Add a Pet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- *ngIf="(isEmployee | async) as isEmployee" -->
<!-- *ngIf="isEmployee" -->