<div>
    <br>
    <br>
    <br>
    <br>

    <p>
        Every adoption experience is different.  At Pet Apotion Agency, we try to make the transition as smooth as possible for you and your potential pet.  

    Owning a pet is a lifelong commitment.  Make sure you are completely ready before you adopt.  Consider your lifestyle, your new pet should be compatible with your everyday life and  your willingness to adapt.  Do some research online so that you are familiar with the demands of owning a pet. For example, say you are interested in adopting an active breed, you should have an idea of how you will exercise them on a regular basis.  
    </p>
    <br>
    <br>
    <br>
    <br>

    <h4>ASK YOURSELF THE FOLLOWING QUESTIONS BEFORE YOU ADOPT:</h4>
    <ol>
        <li>
            Am I prepared financially for a pet?
        </li>
        <li>Does my Landlord allow pets?</li>
        <li>Do I have enough space for a pet?</li>
        <li>How much time do I have to dedicate to a pet?</li>
        <li>Are all the people/pet(s) in my household ready for a new pet?</li>
        <li>Does anyone in my household have allergies?</li>
    </ol>


</div>

<h5>
    Please provide us a discription about yourself and why you'd make a perfect pet owner and we'll take it into consideration
</h5>


<div>
    <form id="adoptionform">
  
        <div class="">
            <label>Description</label>    
         
        </div>
        <textarea rows="4" cols="50" name="comment" form="adoptionform" placeholder="Tell us about your pets and how you'll love the new member of your home."
        >
       </textarea>
            <br>
        <button type="submit" (click)="onSubmit()" class="adopt-button">Submit</button>
    </form>
</div>
   

