<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-container">
            <div>
                <label for="username">Username: </label>
                <input id="username" type="text" formControlName="username">
            </div>
            <div>
                <label for="password">Password: </label>
                <input id="password" type="text" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
